#result{
	position: relative;
	margin: 10px 0  0;
	padding: 10px 0 0 0;
	background-color: white;
	min-height: 400px;
	width: 530px;
	border-right: 1px solid #adb2b5;
}

#msg{
	height: 400px;
	width: 500px;
	margin: 20px 0;
	xborder: 1px solid #adb2b5;
}

#msg_img{
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px 0 -40px 10px;
	float: right;
	
}

#msg_name{
	position: relative;
	font-size: 22px;
}
#msg_description {
	position: relative;
	top: 50px;
	width: 500px;
	font-size: 17px;
}
#msg_date{
	position: relative;
	font-size: 20px;
}
#msg_author{
	position: relative;
	font-size: 20px;
}
#msg_contact{
	position: relative;
	font-size: 20px;
}
