#result{
	position: relative;
	margin: 10px 0  0;
	padding: 10px 0 0 0;
	background-color: white;
	min-height: 400px;
	width: 530px;
	border-right: 1px solid #adb2b5;
}

#item{
	min-height: 400px;
	width: 500px;
	margin: 40px 0;
	border: 1px solid #adb2b5;
}

#item_img{
	position: relative;
	width: 200px;
	height: 200px;
	float: left;
	margin: 0 45px 0 10px;
}
#item_img_mini{
	width: 100px;
	height: 100px;
}

#item_name{
	position: relative;
	font-size: 22px;
	margin: 10px 0 20px 10px;
}

#item_date{
	
	font-size: 15px;
}
#item_author{
	position: relative;
	float: left;
	font-size: 16px;
	margin: 0 5px 0 0;
}

#item_price{
	font-size: 15px;
	float: right;
	margin: 15px 40px 0 0;
}

#item_description {
	position: relative;
	margin: 10px;
	padding: 5px 0 0 0;
	width: 450px;
	font-size: 14px;
	line-height: 16px;
	text-indent: 20px;
	border-top: 1px solid #adb2b5;
	
}
#item_contact{
	position: relative;
	margin: 0 0 0 10px;
	font-size: 20px;
}

#item a{
	color: #d0424f;
	text-decoration: none;
}
#item a:hover{
	color: #ac3540;
}