html{
	width: 100%;
	height: 100%;
}

body{
	xheight: 100%;
	width: 800px;
	margin: 0 auto;
	background-color: white;
}

#header{
	xheight: 100px;
	background-color: white;
	border-bottom: 1px solid #adb2b5;
}

#logo{

}
#logo h1{
	xfont-size: 30px;
	position: relative;
	top: -70px;
	left: 150px;
}
#logo_img{
	height: 70px;
	width: 100px;
	margin: 15px 20px;
}
#main span.leftText{
	clear: both;
	position: relative;
	top: 20px;
	text-align:right;
	float: left;
	line-height: 7px;
	margin: 0 0 10px 0;
}
#main span.redStar{
	color: red;
	font-size: 10px;
	margin: 0 3px 0 -7px;
}
input{
	border-radius:4px; 
	border: 1px solid #adb2b5;
}
#main input{
	
	float: right;
	
}

#main{
	padding: 100px 0 0 0 ;
	margin: 0 auto;
	width: 340px;
	height: 330px;
	
}
#main p{
	width: 340px;
	font-family: Helvetica;
	text-align: center;
	font-size: 20px;
	margin: 0 0 0px 0;
}
#user_email{
	height: 25px;
	width: 250px;
	margin: 10px 0 0 10px;
	font-size: 14px !important;
}
#user_name{
	height: 25px;
	width: 250px;
	margin: 10px 0 0 10px;
	font-size: 14px !important;
}
#user_password{
	float:none;
	height: 25px;
	width: 250px;
	margin: 10px 0 0 10px;
	font-size: 14px !important;
}
#telephone{
	height: 25px;
	width: 250px;
	margin: 10px 0 0 10px;
}
#reg_button{
	position: relative;
	height: 30px;
	width: 150px;
	margin: 10px 60px;
	background-color: #e0edef;
	border: 1px solid #adb2b5;
}
#reg_button:hover{
	background-color: #95d7e1;
}

