#categories{
	top: 40px !important;
}
#user{
	position: relative;
	margin: 40px 0  0;
	background-color: white;
	min-height: 300px;
	width: 530px;
	border-right: 1px solid #adb2b5;
	border: 1px solid #adb2b5;
}
#user img{
	float: left;
	margin: 10px;
	max-width: 150px;
	max-height: 200px;
	
}
#user_name{
	margin: 10px 0 10px 0;
	font-size: 24px;
}
#contact{
	margin: 20px 0 10px 0;
	font-weight: bold;
}
.user_contact{
	
	position: relative;
	font-size: 15px;

}
#info{
	font-weight: bold;
	clear: both;
	margin: 10px;
}
.user_description{
	
	margin: 10px;
	font-size: 15px;
}
.good_name{
	margin: 10px;
}
a{
	text-decoration: none;
	color: #d0424f;
}
.hrefs{
	margin: 10px;
}