
#user{
	position: relative;
	margin: 10px 0  0;
	padding: 10px 0 0 0;
	background-color: white;
	min-height: 400px;
	width: 530px;
	border-right: 1px solid #adb2b5;
}
#user img{
	width: 150px;
	height: 150px;
}
#user_name{
	position: relative;
	left: 200px;
	top: -150px;
	font-size: 20px;
}
#user_contacts{
	position: relative;
	font-size: 20px;
	top: -100px;
	left: 200px;
}
