html{
	width: 100%;
	height: 100%;
}

body{
	height: 100%;
	width: 800px;
	margin: 0 auto;
	background-color: white;
}

#header{
	height: 100px;
	background-color: white;
	border-bottom: 1px solid #adb2b5;
}

#logo{

}
#logo h1{
	font-size: 30px;
	position: relative;
	top: -70px;
	left: 150px;
}
#logo_img{
	height: 70px;
	width: 100px;
	margin: 15px 20px;
}

#authorisation{
	width: 400px;
	position: relative;
	top: -90px;
	left: 600px;
}

#email{
	width: 120px;
	font-size: 10px;
	border: 1px solid #adb2b5;
}
#password{
	width: 80px;
	font-size: 10px;
	border: 1px solid #adb2b5;
}
#checkbox_text{
	font-size: 10px;
	color: grey;
}
#auth_button{
	position: relative;
	width: 80px;
	height: 20px;
	margin: 3px;
	border: 1px solid #adb2b5;
}
#reg_button{
	position: relative;
	height: 20px;
	width: 90px;
	top: -26px;
	margin: 3px;
	left: 115px;
	border: 1px solid #adb2b5;
}
	
input{
	border-radius:4px; 
}

#main{
	min-height: 100px;
	margin: 20px 0 0 0;
	background-color:white;
}

#search{
	position: relative;
	xtop: -30px;
}
#search_text{
	height: 30px;
	width: 400px;
	font-size: 15px;
	padding: 3px 5px;
	border: 1px solid #adb2b5;
}
#search_button{
	height: 38px;
	width: 100px;
	background-color: #e0edef;
	border: 1px solid #adb2b5;
}
#search_button:hover{
	background-color: #95d7e1;
}

#categories{
	position: relative;
	min-height: 50px;
	width: 250px;
	float: right;
	top: 40px;
	border-top: 1px solid #adb2b5;
	border-left: 1px solid #adb2b5;
	border-right: 1px solid #adb2b5;
	background-color: white;
}
#categories a{
	line-height: 30px;
	font-size: 20px;
	text-decoration: none;
	color: #d85e5e;
}
#categories li{
	padding: 0 0 0 10px;
	background-color: white;
	border-bottom: 1px solid #adb2b5;
}
#categories li:hover{
	background-color: #e1e1e1;
}


#user{
	position: relative;
	margin: 10px 0  0;
	padding: 10px 0 0 0;
	background-color: white;
	min-height: 400px;
	width: 530px;
	border-right: 1px solid #adb2b5;
}
#user img{
	width: 150px;
	height: 150px;
}
#user_name{
	position: relative;
	left: 200px;
	top: -150px;
	font-size: 20px;
}
#user_contacts{
	position: relative;
	font-size: 20px;
	top: -100px;
	left: 200px;
}

#footer{
	height: 50px;
	background-color:white;
	border-top: 1px solid #adb2b5;
}